@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/* Error Display */
.bg-danger{
  padding: 15px;
}

.text-primary{color:#337ab7;}
.text-succes{color:#5cb85c;}
.text-info{color:#5bc0de;}
.text-warning{color:#f0ad4e;}
.text-danger{color:#d9534f;}
.disable{ color:#A6A9B6;}