
/* Login */
.debug{border: 1px dashed red;}

html, #page-top{
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}
.f-black{font-weight: 900;}
.f-normal{font-weight: 400;}
.f-light{font-weight: 300;}

/* Sections */
header, section{
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
header{
	background-image: url('/img/e-inicio.jpg');
}

.navbar-default.navbar-shrink .navbar-brand>img {
  height: 32px;
}


/* Como Funciona */
section#como_funciona{}
section#como_funciona h4{color: #0E4363;}
section#como_funciona.text{
	font-size: 20px;
	font-weight: 300;
}
section#como_funciona .box-container{
	display: flex;
}
section#como_funciona .box{
	display: block;
}
section#como_funciona .exp{
	font-weight: 30;
	text-align: left;
	border-top: #0E4363 1px solid;
}
.box-inside{
	display: flex; 
	align-items: center;
	color: #0E4363;
	font-size: 20px;
}
.box-titulo{
	display: block;
	height: 50px;
}
.square{
	font-size: 60px;
	font-weight: 900;
	color: #0E4363;
	background-color: #31A9E1;
	width: 100px;
	height: 100px;
}
/*.square1{opacity: 0.15;}*/
.square1{background-color: rgba(49,169,225, 0.15);}
.square2{background-color: rgba(49,169,225, 0.23);}
.square3{background-color: rgba(49,169,225, 0.3);}
.square4{background-color: rgba(49,169,225, 0.5);}
.square5{
	background-color: rgba(49,169,225, 0.65);
	border: 3px #0E4363 solid;
}

/* Login */
section#login{
	background-image: url('/img/e-ingresa.jpg');
}
#message-login{
	/*top:0;
	position: absolute;*/
}

/* Servicios */
section#servicios .section-heading{color: #0E4363;}
section#servicios{
	color: #0E4363;
	/*background-image: url('/img/e-servicios.jpg');	*/
	background-image: url('/img/e-ingresa.jpg');
}
section#servicios .text-primary{
	color: #0E4363;
}
section#servicios h4{
	font-size: 1.8em;
}
section#servicios .service-text{
	font-weight: 300;
	padding: 0 60px;
	font-size: 1.5em;
	/*text-shadow: 1px 1px 10px #000;*/
}
/* Precios */
section#precios{
	text-align: center;
	
}
section#precios table{
	 margin: 0 auto;
	 color: #0E4363;
}
section#precios table thead tr th.head{
	background-color: #0E4363;
	color: #fff;
	text-align: center;
	font-weight: 900;
}
section#precios table tr th, section#precios table tr td{
	border: 1px solid #fff;
	border-bottom: 10px solid #fff;
	padding: 10px 15px;
	width: 120px;
	font-size: 12px;
	font-weight: 400;
}
section#precios .text-large{
	font-size: 16px;
}
.precio1{background-color: rgba(49,169,225, 0.15);}
.precio2{background-color: rgba(49,169,225, 0.23);}
.precio3{background-color: rgba(49,169,225, 0.3);}
.precio4{background-color: rgba(49,169,225, 0.5);}
.precio5{background-color: rgba(49,169,225, 0.65);}

/* Registro */
section#registro{
	background-image: url('/img/e-registro.jpg');	
}
section#registro .help{
	color: #fff;
}

/* Contacto */
section#contacto{
	/*background-image: url('/img/e-contacto.jpg');	*/
}
.titulo{
	color: rgb(14,67,99);
	font-size: 2.143em;
}
.celeste{color: #31A9E1;}
.azul{color: #0E4363;}
.navbar-default .nav li a.azul{
	color: #126799;
	text-shadow: 1px 1px #31A9E1;
}

#copyright{
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}
.btn-agendasmart{
	background-color:#31A9E1;
	border-color: #1E8CD1;
	color: white;
}
footer{
	background-image: url('/img/footer-background.jpg');
	background-repeat: repeat-x;;
	height: 17	0px;
}
/* Bootstrap Modifie */
/*.form-control{color:#31A9E1;}*/
.form-control::-moz-placeholder{color:#31A9E1;}
.form-control:-ms-input-placeholder{color:#31A9E1;}
.form-control::-webkit-input-placeholder{color:#31A9E1;}

.error input{background-color: #f2dede;}
.error textarea{background-color: #f2dede;}