.pendiente{
  background-color: #FFB833;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

/*.nav > li > a {
  color:#787878;
}*/

.nav-sidebar .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}

/* Fullcalendar*/
.fc-widget-content {
    /*background-color: #E7E7E7;*/
}
.fc-title{
  text-align: center;
  text-decoration: bold;
  font-size: 2em;
}
.fv-event-green{
  cursor: pointer;
  border-color: green !important;
  background-color: green !important;
}
.fv-event-red{
  border-color: red !important;
  background-color: red !important;
}